<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <div class="center">
        <div class="f1 title avenir b"><span class="bottom-border-span">NodeJs&lt;---&gt;Python</span></div>
        <div class="content sans-serif">
            <div><input type="file" id="file-upload" /></div>
            <div class="image-container"><img class="no-display" id="image-picked" alt="Chosen Image" height="200" /></div>
            <div class="result-label f4"><label id="result-label"></label></div>
        </div>
    </div>
</body>
<footer>
    <script src="/js/client.js"></script>
    <script src="/__/firebase/7.17.1/firebase-app.js"></script>
    <script src="/__/firebase/init.js"></script>
</footer>

</html>